<nav>
    <span class="nav-header">Account</span>
    <a href="/auth/logout">
        <button>Log Out</button>
    </a>
</nav>

<aside class="left-aside">
    <ul>
        <li>
            <button type="button" class="aside-button" id="profile">Profile</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="history">History</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="advanced">Advanced</button>
        </li>
    </ul>
</aside>

<main class="account-options">
    <section class="profile">
        <form class="profile-form" action="/account?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%- currentUser.name %>" placeholder="name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" value="<%- currentUser.email %>" placeholder="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" value="<%- currentUser.phone %>" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="restrictions">Restrictions/Allergies:</label>
                <input type="text" name="restrictions" value="<%- currentUser.restrictions %>" placeholder="dietary restrictions and/or allergies">
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </section>

    <section class="history">
        <table>
            <thead>
                <tr>
                    <th>
                        DATE
                    </th>
                    <th>
                        BUSINESS
                    </th>
                    <th>
                        ITEMS
                    </th>
                    <th>
                        TOTAL
                    </th>
                </tr>
            </thead>
            <tbody>
                <% transactions.sort((a, b) => {return b.dateTo - a.dateTo}).forEach((transaction) => { %>
                    <tr>
                        <td>
                            <%= formatDate(transaction.dateTo)[0] %>
                        </td>
                        <td>
                            <%= transaction.business.name %>
                        </td>
                        <td>
                            <% transaction.orderedItems.forEach((item) => { %>
                                <%= item.menuItem.name %><br>
                            <% }) %>
                        </td>
                        <td>
                            <%= transaction.total %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </section>

    <% var register = currentUser.business ? 'none' : 'inline-block'  %>
    <% var manage = currentUser.business ? 'inline-block' : 'none'  %>

    <section class="advanced">
        <form class="registerBusiness" style="display: <%-register%>" action="/business/register" method="GET">
            <button type="submit">Register a business</button>
        </form>
        <form class="manageBusiness" style="display: <%-manage%>" action="/business/dashboard" method="GET">
            <button type="submit">Go to your business dashboard</button>
        </form>
        <button type="button" class="delete-account-button">Delete your account</button>
        <div class="delete-account-confirm">
            <div>
                Are you sure you want to delete your account?
            </div>
            <div>
                <form class="delete-account-form" action="/account?_method=DELETE" method="POST">
                    <button type="submit" class="delete-account-yes">Yes</button>
                </form>
                <button type="button" class="delete-account-cancel">Cancel</button>
            </div>
        </div>
    </section>
</main>

<script src="/scripts/account/account.js" charset="utf-8"></script>
