<h2>Business Account</h2>

<div class="account-nav">
    <ul>
        <li>
            <button type="button" class="account-button" id="profile">Profile</button>
        </li>
        <li>
            <button type="button" class="account-button" id="password">Password</password>
        </li>
        <li>
            <button type="button" class="account-button" id="creditCards">credit Cards</password>
        </li>
        <li>
            <button type="button" class="account-button" id="history">History</password>
        </li>
        <li>
            <button type="button" class="account-button" id="advanced">Advanced</password>
        </li>
    </ul>
</div>

<div class="profile">
    <form class="profile-form" action="/profile?_method=PUT" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" value="<%- currentUser.name %>" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" name="email" value="<%- currentUser.email %>" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" value="<%- currentUser.phone %>" placeholder="Phone">
        </div>
        <div class="form-group">
            <label for="restrictions">Restrictions/Allergies:</label>
            <input type="text" name="restrictions" value="<%- currentUser.restrictions %>" placeholder="Dietary restrictions and/or allergies">
        </div>
        <button type="submit">Save Changes</button>
    </form>
</div>

<div class="password">
    <div class="form-group">
        <label for="old-password">Old Password:</label>
        <input type="text" name="old-password" placeholder="Enter your old password">
    </div>
    <div class="form-group">
        <label for="new-password">New Password:</label>
        <input type="text" name="new-password" placeholder="Enter your new password">
    </div>
    <form class="password-form" action="/profile?_method=PUT" method="POST">
        <button type="submit">Update Password</button>
    </form>
</div>

<div class="creditCards">
    <div class="form-group">
        <label>Credit Cards:</label>
        <% currentUser.creditCards.forEach(function(card) { %>
            <div class="creditCard">
                <h4><%- card %></h4>
                <form class="creditCard-form" action="/profile?_method=DELETE" method="POST">
                    <button type="submit" value="<%- card %>">Remove Card</button>
                </form>
                <form class="creditCard-form" action="/profile/updateCreditCard" method="GET">
                    <button type="submit" value="<%- card %>">Update Card</button>
                </form>
            </div>
        <% }) %>
        <div class="addCreditCard">
            <form class="creditCard-form" action="/profile?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="number">Number:</label>
                    <input type="text" name="number" placeholder="0000 0000 0000 0000">
                </div>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="John Smith">
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <input type="text" name="type" placeholder="VISA">
                </div>
                <div class="form-group">
                    <label for="month">Expiry Month:</label>
                    <input type="text" name="month" placeholder="04">
                </div>
                <div class="form-group">
                    <label for="year">Expiry Year:</label>
                    <input type="text" name="year" placeholder="22">
                </div>
                <div class="form-group">
                    <button type="submit">Add Card</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="history">
    <div class="form-group">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Business</th>
                    <th>Spent</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>17/4/17</td>
                    <td>Chinese Restaurant</td>
                    <td>$19.95</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="advanced">
    <form class="registerBusiness" action="/business/register" method="GET">
        <button type="submit">Register a business</button>
    </form>

</div>

<script>
    var accountButtons = [$('#profile'), $('#password'), $('#history'), $('#creditCards'), $('#advanced')]
    var accountDivs = [$('.profile'), $('.password'), $('.history'), $('.creditCards'), $('.advanced')]
    accountButtons.forEach((button, index) => {
        button.on('click', () => {
            accountDivs.forEach((div) => {
                div.hide()
            })
            accountDivs[index].show()
        })
    })
    accountDivs.forEach((div) => {
        div.hide()
    })
    $('.profile').show()
</script>
