<nav>
    <span class="nav-header">Dashboard</span>
</nav>

<aside class="left-aside">
    <ul>
        <li>
            <button type="button" class="aside-button" id="menu">Menu</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="transactions">Transactions</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="profile">Profile</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="advanced">Advanced</button>
        </li>
    </ul>
</aside>

<main>
    <nav class="main-nav transactions-nav">
        <ul>
            <li>
                <button type="button" class="aside-button" id="active-transactions-button">Active</button>
            </li>
            <li>
                <button type="button" class="aside-button" id="completed-transactions-button">Completed</button>
            </li>
        </ul>
    </nav>

    <section class="menu">
        <% business.menu.forEach((item) => { %>
            <article class="menu-item">
                <div class="placeholder-image"></div>
                <div class="menu-main">
                    <p>
                        <%= item.name %>
                    </p>
                    <p>
                        <%= item.description %>
                    </p>
                    <p>
                        <%= item.price %>
                    </p>
                </div>
                <div class="menu-buttons">
                    <ul>
                        <li>
                            <button type="button" name="update-menu">Update</button>
                        </li>
                        <li>
                            <button type="button" name="archive-menu">Archive</button>
                        </li>
                        <li>
                            <button type="button" name="remove-menu">Remove</button>
                        </li>
                    </ul>
                </div>
            </article>
        <% }) %>
    </section>

    <section class="transactions">
        <section class="active-transactions">
            <table>
                <thead>
                    <tr>
                        <th>
                            DATE
                        </th>
                        <th>
                            CUSTOMER
                        </th>
                        <th>
                            TOTAL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.filter((item) => {return item.isActive === true}).forEach((transaction) => { %>
                        <tr>
                            <td>
                                <%= formatDate(transaction.dateFrom)[0] %>
                            </td>
                            <td>
                                <%= transaction.customer.name %>
                            </td>
                            <td>
                                <%= transaction.total %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

        <section class="completed-transactions">
            <table>
                <thead>
                    <tr>
                        <th>
                            DATE
                        </th>
                        <th>
                            CUSTOMER
                        </th>
                        <th>
                            TOTAL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.filter((item) => {return item.isActive === false}).sort((a, b) => {return b.date - a.date}).forEach((transaction) => { %>
                        <tr>
                            <td>
                                <%= formatDate(transaction.dateTo)[0] %>
                            </td>
                            <td>
                                <%= transaction.customer.name %>
                            </td>
                            <td>
                                <%= transaction.total %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </section>

    <section class="profile">
        <form class="profile-form" action="/business?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%- business.name %>" placeholder="name">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" name="address" value="<%- business.address %>" placeholder="address">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" value="<%- business.email %>" placeholder="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" value="<%- business.phone %>" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="website">Website:</label>
                <input type="text" name="website" value="<%- business.website %>" placeholder="website">
            </div>
            <div class="form-group">
                <label for="website">Description:</label>
                <input type="text" name="description" value="<%- business.description %>" placeholder="description">
            </div>
            <button type="submit">Save Changes</button>
        </form>
    </section>

    <section class="advanced">
        <button type="button" class="deregister-business-button">Deregister your business</button>
        <div class="deregister-business-confirm">
            <div>
                Are you sure you want to deregister your business?
            </div>
            <div>
                <form class="deregister-business-form" action="/business?_method=DELETE" method="POST">
                    <button type="submit" class="deregister-business-yes">Yes</button>
                </form>
                <button type="button" class="deregister-business-cancel">Cancel</button>
            </div>
        </div>
    </section>
</main>

<aside class="left-aside">
    <ul>
        <li>
            <button type="button" class="aside-button" id="add-menu-item-button">Add Menu Item</button>
        </li>
        <li>
            Sort
        </li>
        <li>
            Filter
        </li>
    </ul>
</aside>

<script src="/scripts/business/dashboard.js" charset="utf-8"></script>
