<nav>
    <span class="nav-header">Dashboard</span>
</nav>

<aside class="left-aside">
    <ul>

        <li>
            <button type="button" class="aside-button" id="menu">Menu</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="transactions">Transactions</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="profile">Profile</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="advanced">Advanced</button>
        </li>
        <li>
            <a href="/business/service">
                <button type="button" class="aside-button" id="service">Service</button>
            </a>
        </li>
    </ul>
</aside>

<main>
    <nav class="main-nav transactions-nav">
        <ul>
            <li>
                <button type="button" class="aside-button" id="active-transactions-button">Active</button>
            </li>
            <li>
                <button type="button" class="aside-button" id="completed-transactions-button">Completed</button>
            </li>
        </ul>
    </nav>

    <section class="menu">
        <% business.menu.forEach((item) => { %>
            <article class="menu-item">
                <div class="placeholder-image"></div>
                <div class="menu-main">
                    <p>
                        <b><%= item.name %></b>
                    </p>
                    <p>
                        <%= item.description %>
                    </p>
                    <p>
                        <%= item.price.toFixed(2) %>
                    </p>
                </div>
                <div class="menu-buttons">
                    <ul>
                        <li>
                            <button type="button" class="update-menu-button" name="id" value='<%- item.name %>/<%- item.description %>/<%- item.price %>/<%- item.id %>'>Update</button>
                        </li>
                        <li>
                            <form action="/business/menu?_method=DELETE" method="POST">
                                <input type="hidden" name="id" value=<%- item.id %>>
                                <button type="button" class="remove-menu-button" name="id" value=<%- item.id %>>Remove</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </article>
        <% }) %>
    </section>

    <section class="add-menu-item">
        <span class="nav-header">Add Menu Item</span>
        <form class="menuItem-form" action="/business/menu" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" placeholder="chicken a la láme">
            </div>
            <div class="form-group">
                <label for="name">Description:</label>
                <input type="text" name="description" placeholder="sous vide chicken on pureed potato with confit rutabaga and crispy sesame tuile">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input type="text" name="price" placeholder="18.90">
            </div>
            <button type="submit">Add Menu Item</button>
            <button class="menu-cancel" type="button">Cancel</button>
        </form>
    </section>

    <section class="update-menu-item">
        <span class="nav-header">Update Menu Item</span>
        <form class="menuItem-form" action="/business/menu?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="update-menu-name" type="text" name="name">
            </div>
            <div class="form-group">
                <label for="name">Description:</label>
                <input id="update-menu-description" type="text" name="description">
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input id="update-menu-price" type="text" name="price">
            </div>
            <input id="update-menu-id" type="hidden" name="id">
            <button type="submit">Update Menu Item</button>
            <button class="menu-cancel" type="button">Cancel</button>
        </form>
    </section>

    <section class="transactions">
        <section class="active-transactions">
            <table>
                <thead>
                    <tr>
                        <th>
                            DATE
                        </th>
                        <th>
                            CUSTOMER
                        </th>
                        <th>
                            ITEMS
                        </th>
                        <th>
                            TOTAL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.filter((item) => {return item.isActive === true}).sort((a, b) => {return a.dateFrom - b.dateFrom}).forEach((transaction) => { %>
                        <tr>
                            <td>
                                <%= formatDate(transaction.dateFrom)[0] %>
                            </td>
                            <td>
                                <%= transaction.customer.name %>
                            </td>
                            <td>
                                <% transaction.orderedItems.forEach((item) => { %>
                                    <%= item.menuItem.name %><br>
                                <% }) %>
                            </td>
                            <td>
                                <% var total = transaction.total ? transaction.total : 0 %>
                                <%= total.toFixed(2) %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>

        <section class="completed-transactions">
            <table>
                <thead>
                    <tr>
                        <th>
                            DATE
                        </th>
                        <th>
                            CUSTOMER
                        </th>
                        <th>
                            ITEMS
                        </th>
                        <th>
                            TOTAL
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% transactions.filter((item) => {return item.isActive === false}).sort((a, b) => {return b.dateTo - a.dateTo}).forEach((transaction) => { %>
                        <tr>
                            <td>
                                <%= formatDate(transaction.dateTo)[0] %>
                            </td>
                            <td>
                                <%= transaction.customer.name %>
                            </td>
                            <td>
                                <% transaction.orderedItems.forEach((item) => { %>
                                    <%= item.menuItem.name %><br>
                                <% }) %>
                            </td>
                            <td>
                                <%= transaction.total %>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </section>

    <section class="profile">
        <form class="profile-form" action="/business?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%- business.name %>" placeholder="name">
            </div>
            <div class="form-group">
                <label for="cuisine">Cuisine:</label>
                <input type="text" name="cuisine" value="<%- business.cuisine %>" placeholder="cuisine">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" name="description" value="<%- business.description %>" placeholder="description">
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" name="address" value="<%- business.address %>" placeholder="address">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" value="<%- business.email %>" placeholder="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" value="<%- business.phone %>" placeholder="phone">
            </div>
            <div class="form-group">
                <label for="website">Website:</label>
                <input type="text" name="website" value="<%- business.website %>" placeholder="website">
            </div>
            <button type="submit">Update Profile</button>
        </form>
    </section>

    <section class="advanced">
        <button type="button" class="deregister-business-button">Deregister your business</button>
        <div class="deregister-business-confirm">
            <div>
                Are you sure you want to deregister your business?
            </div>
            <div>
                <form class="deregister-business-form" action="/business?_method=DELETE" method="POST">
                    <button type="submit" class="deregister-business-yes">Yes</button>
                </form>
                <button type="button" class="deregister-business-cancel">Cancel</button>
            </div>
        </div>
    </section>
</main>

<aside class="left-aside menu-options">
    <ul>
        <li>
            <button type="button" class="aside-button" id="add-menu-item-button">Add Menu Item</button>
        </li>
    </ul>
</aside>

<script src="/scripts/business/dashboard.js" charset="utf-8"></script>
