<nav>
    <h3>Businesses</h3>
</nav>

<aside class=left-aside>
    <h5>Sort</h5>
    <h5>Filter</h5>
</aside>

<main>
    <% if (!allBusinesses.length) { %>
        <h3>There were no businesses matching your search.</h3>
    <% } %>
    <% allBusinesses.forEach((business) => { %>
        <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
        <a href="/business/find/<%- dashName %>/<%- business.id %>">
            <article class="business-listing">
                <div class="placeholder-image"></div>
                <div class="business-main">
                    <p>
                        <%= business.id %>
                    </p>
                    <p>
                        <%= business.name %>
                    </p>
                    <p>
                        <%= business.address %>
                    </p>
                </div>
            </article>
        </a>
    <% }) %>
</main>

<aside class="right-aside"></aside>
