<nav>
    <span class="nav-header">Businesses</span>
</nav>

<aside class=left-aside>
    <ul></ul>
</aside>

<main class="business-index">
    <% if (!allBusinesses.length) { %>
        <h3>There were no businesses matching your search.</h3>
    <% } %>
    <% allBusinesses.forEach((business) => { %>
        <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
        <a href="/business/find/<%- dashName %>/<%- business.id %>">
            <article class="business-listing">
                <div class="placeholder-image"></div>
                <div class="business-main">
                    <p>
                        <%= business.cuisine %>
                    </p>
                    <p>
                        <b><%= business.name %></b>
                    </p>
                    <p>
                        <%= business.address %>
                    </p>
                </div>
            </article>
        </a>
    <% }) %>
</main>

<aside class="right-aside"></aside>
