<nav>
    <span class="nav-header"><%= name %></span>
</nav>

<aside class="left-aside">
    <ul>
        <li>
            <button type="button" class="aside-button" id="orderMenuButton">Menu</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="orderServiceButton">Ask for Service</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="orderBillButton">View Bill</button>
        </li>
    </ul>
</aside>

<main class="order-main">
    <section class="orderMenu">
        <section>
            <% menu.forEach((item) => { %>
                <article class="menu-item">
                    <div class="placeholder-image"></div>
                    <div class="menu-main">
                        <p>
                            <b><%= item.name %></b>
                        </p>
                        <p>
                            <%= item.description %>
                        </p>
                        <p>
                            <%= item.price.toFixed(2) %>
                        </p>
                    </div>
                    <div class="order-buttons">
                        <button class="add-to-order-button" type="button" value="<%- item.id %>/<%- item.name%>/<%- item.price.toFixed(2) %>">Add to Order</button>
                    </div>
                </article>
            <% }) %>
        </section>
    </section>

    <section class="orderService">
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <input class="order-service-button" type="button" value="Ask for water">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input class="order-service-button" type="button" value="Clear the table">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <input class="order-service-button" type="button" value="Cutlery/crockery">
                    </td>

                </tr>
                <tr>
                    <td colspan="2">
                        <input class="order-service-button" type="button" value="Ask for assistance">
                    </td>
                </tr>
                <form class="form-group" method="" action="POST">
                    <tr>

                        <td>
                            <input class="order-special-request-input" type="text" name="specialRequest" placeholder="Enter your special request">
                        </td>

                    </tr>
                    <tr>

                        <td>
                            <button class="order-special-request-button" type="button">Submit special request</button>
                        </td>

                    </tr>
                </form>
            </tbody>
        </table>
    </section>

    <section class="orderBill">
        <table>
            <thead>
                <tr>
                    <th>
                        ITEM
                    </th>
                    <th>
                        PRICE
                    </th>
                </tr>
            </thead>
            <tbody class="bill-list">
                <% var transaction = transaction ? transaction : {orderedItems: []} %>
                <% var total = 0 %>
                <% transaction.orderedItems.forEach((item) => { %>
                    <% total += item.menuItem.price %>
                    <tr>
                        <td>
                            <%= item.menuItem.name %>
                        </td>
                        <td>
                            <%= item.menuItem.price.toFixed(2) %>
                        </td>

                    </tr>
                <% }) %>
            </tbody>
            <tbody>

                <tr>
                    <td>
                        <b>TOTAL</b>
                    </td>
                    <td>
                        <b>
                            <span class='bill-total'><%= total.toFixed(2) %></span>
                        </b>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input class="order-ask-bill" type="button" value="Ask for bill">
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <form action="/business/bill" method="POST">
                            <input type="hidden" name="total" value=<%-total%>>
                            <input type="hidden" name="id" value=<%-currentUser.id%>>
                            <input class="order-pay-bill" type="submit" value="Pay bill">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>

    </section>
</main>

<aside class="left-aside pending-orders">
    <ul>
        <li>
            <button class="order-submit" type="button">Submit your order</button>
        </li>
    </ul>
    <table>
        <tbody class="pending-orders-body"></tbody>
    </table>
</aside>

<script src="/socket.io/socket.io.js"></script>
<script>

    var socket = io.connect()
    var room = "<%= chat %>"
    socket.on('connect', function() {
        socket.emit('join', room)
        console.log('joining ' + room)
    })

    var orderArray = []
    var newTotal = parseFloat('<%= total %>')

    // send service request
    function sendServiceRequest(serviceItem) {
        console.log('submitting service order')
        socket.emit('service', {
            section: "service",
            room: room,
            serviceItem: serviceItem,
            customer: "<%- currentUser.id %>"
        })
    }
    // send order
    function sendOrder(menuId, menuName) {
        console.log('submitting menu order')
        socket.emit('menuOrder', {
            room: room,
            menuId: menuId,
            menuName: menuName,
            customer: "<%- currentUser.id %>"
        })
    }

    // send total
    function sendTotal(total) {
        console.log('submitting menu total')
        socket.emit('orderTotal', {
            room: room,
            total: total,
            customer: "<%- currentUser.id %>"
        })
    }

    // create and temporarily save orders
    document.querySelector('.orderMenu').addEventListener('click', function(event) {
        var clickedElement = event.target
        if (clickedElement.className === 'add-to-order-button') {
            orderArray.push(clickedElement.value)
            var menuName = clickedElement.value.split('/')[1]
            var menuPrice = clickedElement.value.split('/')[2]
            var newRow = document.createElement('tr')
            newRow.className = 'new-order-item'
            newRow.innerHTML = "<td>" + menuName + "</td><td><button type='button' class='remove-button' value=" + clickedElement.value + ">X</button></td>"
            document.querySelector('.pending-orders-body').appendChild(newRow)
        }
    })
    // remove or submit orders
    document.querySelector('.pending-orders').addEventListener('click', function(event) {
        var clickedElement = event.target
        // remove order from list if remove-button clicked
        if (clickedElement.className === 'remove-button') {
            var index = orderArray.indexOf(clickedElement.value)
            orderArray.splice(index, 1)
            var tr = clickedElement.parentNode.parentNode
            tr.parentNode.removeChild(tr)
        }
        // submit order if order-submit button clicked
        if (clickedElement.className === 'order-submit') {

            // submit each order and create a new article in the orderBill section
            orderArray.forEach((order) => {

                newTotal += parseFloat(order.split('/')[2])
                sendOrder(order.split('/')[0], order.split('/')[1])

                var newRow = document.createElement('tr')
                newRow.innerHTML = "<tr><td>" + order.split('/')[1] + "</td><td>" + order.split('/')[2] + "</td></tr>"
                document.querySelector('.bill-list').appendChild(newRow)
            })
            sendTotal(newTotal.toFixed(2))
            document.querySelector('.bill-total').textContent = newTotal.toFixed(2)
            orderArray = []
            // remove all articles from the pending-orders aside
            var allRows = document.querySelectorAll('.new-order-item')
            Array.prototype.forEach.call(allRows, function(row) {
                row.parentNode.removeChild(row)
            })
        }
    })

    // create and emit service request
    document.querySelector('.orderService').addEventListener('click', function(event) {
        var clickedElement = event.target
        if (clickedElement.className === 'order-service-button') {
            var serviceItem = clickedElement.value
            sendServiceRequest(serviceItem)
        }
        if (clickedElement.className === 'order-special-request-button') {
            var serviceItem = document.querySelector('.order-special-request-input').value
            document.querySelector('.order-special-request-input').value = ''
            sendServiceRequest(serviceItem)
        }
    })

    // ask for bill
    document.querySelector('.orderBill').addEventListener('click', function(event) {
        var clickedElement = event.target
        if (clickedElement.className === 'order-ask-bill') {
            var serviceItem = clickedElement.value
            sendServiceRequest(serviceItem)
        }
    })

    // hide and show sections
    var buttons = [document.getElementById('orderMenuButton'), document.getElementById('orderServiceButton'), document.getElementById('orderBillButton')]
    var sections = [document.querySelector('.orderMenu'), document.querySelector('.orderService'), document.querySelector('.orderBill')]

    buttons.forEach((button, index) => {
        button.addEventListener('click', () => {
            buttons.forEach((button) => {
                button.style.backgroundColor = 'rgba(50,50,50,0.1)'
            })
            sections.forEach((section) => {
                section.style.display = 'none'
            })
            sections[index].style.display = 'block'
            buttons[index].style.backgroundColor = 'rgba(50,150,200,0.3)'
        })
    })
    sections.forEach((section) => {
        section.style.display = 'none'
    })
    document.querySelector('.orderMenu').style.display = 'block'
    document.getElementById('orderMenuButton').style.backgroundColor = 'rgba(50,150,200,0.3)'
    document.querySelector('.order-submit').style.backgroundColor = 'rgba(200,50,50,0.3)'
</script>
