<script src="/socket.io/socket.io.js"></script>

<h2><%= name %>
    -
    <%= formatDate(new Date())[0] %></h2>

<table id="menuOrder">
    <thead>
        <tr>
            <th>
                Time
            </th>
            <th>
                Menu Item
            </th>
            <th>
                Customer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="orders">
        <% orders.forEach((order) => { %>
            <tr>
                <td>
                    <%= formatDate(order.date)[1] %>
                </td>
                <td>
                    <%= order.menuItem.name %>
                </td>
                <td>
                    <%= order.customer.name %>
                </td>
                <td>
                    <button type="button" value="<%- order.id %>">Done</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
    var socket = io.connect()
    var room = "<%= chat %>"
    socket.on('connect', function() {
        socket.emit('join', room)
        console.log('joining ' + room)
    })
    socket.on('order', function(data) {
        console.log('receiving message ')
        var newRow = document.createElement('tr')
        newRow.innerHTML = "<td>" + data.date + "</td><td>" + data.menuItem + "</td><td>" + data.customer + "</td><td><button type='button' value=" + data.orderId + ">Done</button></td>"
        document.getElementById('orders').appendChild(newRow)
    })
    document.getElementById('orders').addEventListener('click', function(event) {
        function send() {
            console.log('submitting remove order')
            socket.emit('remove', orderId)
        }
        var clickedElement = event.target
        if (clickedElement.tagName === 'BUTTON') {
            var orderId = clickedElement.value
            var tr = clickedElement.parentNode.parentNode
            tr.parentNode.removeChild(tr)
            send()
        }
    })
</script>
