<h2><%= name %>
    -
    <%= formatDate(new Date())[0] %></h2>

<div class="receive-nav">
    <ul>
        <li>
            <button type="button" class="account-button" id="newOrdersButton">New Orders</button>
        </li>
        <li>
            <button type="button" class="account-button" id="completedOrdersButton">Completed Orders</button>
        </li>
    </ul>
</div>

<div class="newOrders">
    <h3>New Orders</h3>
    <table id="menuOrder">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Menu Item
                </th>
                <th>
                    Customer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="newOrdersBody">
            <% orders.filter((order) => { return order.completed === false}).forEach((order) => { %>
                <tr>
                    <td>
                        <%= formatDate(order.orderedAt)[1] %>
                    </td>
                    <td>
                        <%= order.menuItem.name %>
                    </td>
                    <td>
                        <%= order.customer.name %>
                    </td>
                    <td>
                        <button type="button" value="<%- order.id %>">Done</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="completedOrders">
    <h3>Completed Orders</h3>
    <table id="menuOrder">
        <thead>
            <tr>
                <th>
                    Time
                </th>
                <th>
                    Menu Item
                </th>
                <th>
                    Customer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="completedOrdersBody">
            <% orders.filter((order) => { return order.completed === true}).forEach((order) => { %>
                <tr>
                    <td>
                        <% var completedDate = order.completedAt ? formatDate(order.completedAt)[1] : "" %>
                        <%= completedDate %>
                    </td>
                    <td>
                        <%= order.menuItem.name %>
                    </td>
                    <td>
                        <%= order.customer.name %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    // connect to the business' room
    var socket = io.connect()
    var room = "<%= chat %>"
    socket.on('connect', function() {
        socket.emit('join', room)
        console.log('joining ' + room)
    })
    // add the new order to the new orders table
    socket.on('order', function(data) {
        console.log('receiving message ')
        var newRow = document.createElement('tr')
        newRow.innerHTML = "<td>" + data.date + "</td><td>" + data.menuItem + "</td><td>" + data.customer + "</td><td><button type='button' value=" + data.orderId + ">Done</button></td>"
        document.getElementById('newOrdersBody').appendChild(newRow)
    })
    // move the completed order to the completed orders table
    document.getElementById('newOrdersBody').addEventListener('click', function(event) {
        function send() {
            console.log('submitting remove order')
            socket.emit('remove', orderId)
        }
        var clickedElement = event.target
        if (clickedElement.tagName === 'BUTTON') {
            var orderId = clickedElement.value
            var tr = clickedElement.parentNode.parentNode
            clickedElement.parentNode.removeChild(clickedElement)

            // change completed date!!!!

            document.getElementById('completedOrdersBody').appendChild(tr)
            send()
        }
    })

    var orderButtons = [document.getElementById('newOrdersButton'), document.getElementById('completedOrdersButton')]
    var orderDivs = [document.querySelector('.newOrders'), document.querySelector('.completedOrders')]
    orderButtons.forEach((button, index) => {
        button.addEventListener('click', () => {
            orderDivs.forEach((div) => {
                div.style.display = 'none'
            })
            orderDivs[index].style.display = 'block'
        })
    })

    orderDivs.forEach((div) => {
        div.style.display = 'none'
    })

    document.querySelector('.newOrders').style.display = 'block'
</script>
