<h2><%= name %></h2>

<table id="menuOrder">
    <thead>
        <tr>
            <td>
                Name
            </td>
            <td>
                Description
            </td>
            <td>
                Price
            </td>
        </tr>
    </thead>
    <tbody>
        <% menu.forEach((item) => { %>
            <tr>
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.description %>
                </td>
                <td>
                    <%= item.price %>
                </td>
                <td>
                    <button type="button" value="<%- item.id %>/<%- item.name%>">Order</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>

<script>
    var socket = io.connect()
    var room = "<%= chat %>"
    socket.on('connect', function() {
        socket.emit('join', room)
        console.log('joining ' + room)
    })
    $('#menuOrder').on('click', 'button', function() {
        var menuId = $(this).val().split('/')[0]
        var menuName = $(this).val().split('/')[1]
        function send() {
            console.log('submitting order')
            socket.emit('message', {
                room: room,
                menuId: menuId,
                menuName: menuName,
                customer: "<%- currentUser.id %>"
            })
        }
        send()
    })
</script>
