<nav>
    <span class="nav-header"><%= business.name %></span>
</nav>

<aside class="left-aside">
    <ul class="aside-nav">
        <li>
            <button type="button" class="aside-button" id="about">About</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="menu">Menu</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="photos">Photos</button>
        </li>
        <li>
            <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
            <a href="/business/find/<%- dashName %>/<%- business.id%>/order">
                <button id="eat-here-button">Eat Here</button>
            </a>
        </li>
    </ul>
</aside>

<main>
    <section class="about">
        <table>
            <tbody>
                <tr>
                    <td>
                        Cuisine:
                    </td>
                    <td>
                        <%= business.cuisine %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Address:
                    </td>
                    <td>
                        <%= business.address %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Description:
                    </td>
                    <td>
                        <%= business.description %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        <%= business.email %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Phone:
                    </td>
                    <td>
                        <%= business.phone %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Website:
                    </td>
                    <td>
                        <%= business.website %>
                    </td>
                </tr>
            </tbody>
        </table>
        <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
    </section>

    <section class="menu">
        <% business.menu.forEach((item) => { %>
            <article class="menu-item">
                <div class="placeholder-image"></div>
                <div class="menu-main">
                    <p>
                        <b><%= item.name %></b>
                    </p>
                    <p>
                        <%= item.description %>
                    </p>
                    <p>
                        <%= item.price.toFixed(2) %>
                    </p>
                </div>
            </article>
        <% }) %>
    </section>

    <section class="photos">
        Photos
    </section>
</main>

<aside class="left-aside">
    <ul></ul>
</aside>

<script src="/scripts/business/show.js" charset="utf-8"></script>
