<nav>
    <span class="nav-header"><%= business.name %></span>
</nav>

<aside class="left-aside">
    <ul class="aside-nav">
        <li>
            <button type="button" class="aside-button" id="about">About</button>
        </li>
        <li>
            <button type="button" class="aside-button" id="menu">Menu</button>
        </li>
        <li>
            <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
            <a href="/business/find/<%- dashName %>/<%- business.id%>/order">
                <button id="eat-here-button">Eat Here</button>
            </a>
        </li>
    </ul>
</aside>

<main>
    <section class="about">
        <table>
            <tbody>
                <tr>
                    <td>
                        <label>CUISINE</label>
                    </td>
                    <td>
                        <label><%= business.cuisine %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>ADDRESS</label>
                    </td>
                    <td>
                        <label><%= business.address %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>DESCRIPTION</label>
                    </td>
                    <td>
                        <label><%= business.description %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>EMAIL</label>
                    </td>
                    <td>
                        <label>
                            <a href="mailto:<%= business.email %>"><%= business.email %></a>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>PHONE</label>
                    </td>
                    <td>
                        <label><%= business.phone %></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>WEBSITE</label>
                    </td>
                    <td>
                        <label>
                            <a href="http://<%= business.website %>"><%= business.website %></a>
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
    </section>

    <section class="menu">
        <% business.menu.forEach((item) => { %>
            <article class="menu-item">
                <div class="placeholder-image"></div>
                <div class="menu-main">
                    <p>
                        <b><%= item.name %></b>
                    </p>
                    <p>
                        <%= item.description %>
                    </p>
                    <p>
                        <%= item.price.toFixed(2) %>
                    </p>
                </div>
            </article>
        <% }) %>
    </section>
</main>

<aside class="left-aside">
    <ul></ul>
</aside>

<script src="/scripts/business/show.js" charset="utf-8"></script>
