<nav>
    <h3><%= business.name %></h3>
</nav>

<aside class="left-aside">
    <ul class="aside-nav">
        <li>
            <button type="button" class="account-button" id="profile">About</button>
        </li>
        <li>
            <button type="button" class="account-button" id="password">Menu</button>
        </li>
        <li>
            <button type="button" class="account-button" id="creditCards">Reviews</button>
        </li>
        <li>
            <button type="button" class="account-button" id="history">Photos</button>
        </li>
    </ul>
</aside>

<main>
    <p>Address:
        <%= business.address %></p>
    <p>Email:
        <%= business.email %></p>
    <p>Phone:
        <%= business.phone %></p>
    <p>Opening Hours:
        <%= business.hours %></p>
    <p>Menu:
        <%= business.menu %></p>

    <% var dashName = business.name.toLowerCase().split(' ').join('-') %>
    <a href="/business/find/<%- dashName %>/<%- business.id%>/send">Eat Here</a>
</main>

<aside class="right-aside"></aside>
